<%- include('../../partials/head') %>

    <body class="d-flex flex-column vh-100">
        <%- include('../../partials/header') %>
            <div class="container offset-md-3 col-md-6">
                <%- include('../../partials/flash') %>
                    <h1 class="text-center mt-3">Add a campground</h1>
                    <!--Lưu lại cách để thêm 1 trường để gửi hình ảnh-->
                    <form action="/campground" method="POST" novalidate class="main-form" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" id="title" class="form-control" name="title" autocomplete="off" required>
                            <div class="invalid-feedback">* Required</div>
                        </div>
                        <div class="mb-3">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" id="location" class="form-control" name="location" autocomplete="off"
                                required>
                            <div class="invalid-feedback">* Required</div>
                        </div>
                        <div class="mb-3">
                            <label for="description" class=" form-label">Description</label>
                            <input type="text" id="description" class=" form-control" name="description"
                                autocomplete="off" required>
                            <div class="invalid-feedback">* Required</div>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="form-label">Price</label>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input type="text" id="price" class="form-control" name="price" autocomplete="off"
                                    placeholder="0.00" required>
                                <div class="invalid-feedback">* Required</div>
                            </div>
                        </div>
                        <label for="image" class=" form-label">Image</label>
                        <div class="mb-3">
                            <!--Muốn gửi 1 tệp thì bỏ trường multiple vào-->
                            <input type="file" class="form-control" name="image" id="image" multiple>
                        </div>
                        <button class=" btn btn-primary mb-3">Save it!</button>
                        <a href="/campgrounds" class="btn btn-primary mb-3">Back to all campgrounds</a>
                    </form>
            </div>
            <%- include('../../partials/footer') %>
    </body>

    <script src="/javascript/validateform.js"></script>
    <script>
        const inputElement = document.getElementById("image");

        inputElement.addEventListener("change", function () {
            const files = inputElement.files;
            const maxFiles = 5;
            if (files.length > maxFiles) {
                alert(`Vui lòng chọn tối đa ${maxFiles} ảnh.`);
                inputElement.value = "";
            }
        });

    </script>